.typesWork__text {
    width: 100%;
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
    background-color: #ffffff;
}
.carousel-item {
    width: 100%;
    max-width: 1900px;
    align-items: center;

}
.carousel-item {
    background: #EEEEEE;
    font-size: 23px;
    padding: 100px 0 300px 0;
    text-align: center;
    box-sizing: border-box;
    cursor: grab;
    position: relative;
    overflow-wrap: break-word;
  }
  .backimg1 {
    background-image: url(../../img/home-slideshow-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .backimg2 {
    background-image: url(../../img/home-slideshow-0002-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .backimg3 {
    background-image: url(../../img/home-slideshow-4.jpg);
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
  }
  #backimg1-mob {
   display: none; 
  }
.slide__title {
    display: block;
    color: black;
    line-height: 100px;
    font-size: 48px;
    line-height: 56px;
}
.slide__text {
    width: 100%;
    max-width: 400px;
    margin-left: 150px;
    padding-top: 50px;
}
.slide__p {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    margin-top: 50px;
}
.slide__btn {
    -webkit-appearance: none;
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: #ffffff;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    background: #222222;
    vertical-align: middle;
    line-height: 40px;
    min-height: 40px;
    font-size: 11px;
    text-decoration: none;
    text-align: center;
    padding: 0 33px;
    border-radius: 0;
    overflow: hidden;
    z-index: 1;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: all 0.12s ease-in-out;
    transition: all 0.12s ease-in-out;
    -webkit-backface-visibility: hidden;
    margin-top: 10px;
}
.owl-dots {
    width: 100%;
    max-width: 72px;
    margin: 0 auto;

}
.owl-carousel span {
    width:10px;
    height:10px;
    margin:5px 7px;
    background: #666666 !important;
    display:block;
    -webkit-backface-visibility:visible;
    -webkit-transition:opacity 200ms ease;
    -moz-transition:opacity 200ms ease;
    -ms-transition:opacity 200ms ease;
    -o-transition:opacity 200ms ease;
    transition:opacity 200ms ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}
.owl-carousel .active span {
    width:10px;
    height:10px;
    margin:5px 7px;
    background: #1a1a1a !important;
    display:block;
    -webkit-backface-visibility:visible;
    -webkit-transition:opacity 200ms ease;
    -moz-transition:opacity 200ms ease;
    -ms-transition:opacity 200ms ease;
    -o-transition:opacity 200ms ease;
    transition:opacity 200ms ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}