.we {
    width: 100%;
    max-width: 1800px;
    background: #f9f9f9;
    margin-top: 120px;
    position: relative;
}
.wrap {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.we__wrap {
    width: 100%;
    max-width: 800px;
}
.we__wrap h2 {
    font-size: 36px;
    line-height: 44px;
    font-family: 'Noto Serif', Times New Roman, serif;
    font-weight: normal;
    color: #aaaaaa;
    font-style: italic;
    text-transform: none;
}
.we__wrap-p {
    font-family: "arial", helvetica, sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #666666;
}
.we__wrap small {
    color: #aaaaaa;
    letter-spacing: 2px;
    font-size: 11px;
    line-height: 13px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
.we__wrap a {
    color: #aaaaaa;
    letter-spacing: 2px;
    font-size: 11px;
    line-height: 13px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}